#background-video {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
  object-fit: cover;
}

#logo {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 150px;
  height: auto;
}

#app {
  position: relative;
  z-index: 1;
  color: white;
  font-family: sans-serif;
  text-align: center;
  margin-top: 50px;
}
